OpenJDK17.0.1_12.msi filter=lfs diff=lfs merge=lfs -text
postgresql-13.3-2-windows-x64.exe filter=lfs diff=lfs merge=lfs -text
LibreOffice_7.3.5_Win_x64.msi filter=lfs diff=lfs merge=lfs -text
keycloak-17.0.0.exe filter=lfs diff=lfs merge=lfs -text
